AttributedText/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/es-shadrach.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/es-shadrach.xcuserdatad/xcschemes/xcschememanagement.plist
